* {
  box-sizing: border-box;
  font-family: 'Share Tech Mono', monospace;
  color: dimgray;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

footer {
  background-color: dimgray;
  text-align: center;
  padding: 0.25rem;
  margin-top: auto;
}

footer p {
  color: white;
  margin: 0;
}

.navbar {
  background-color: lightgray;
  border-bottom: 2px solid gray;
  min-height: 60px;
  padding: 0.5rem;
}

.welcome-header {
  text-align: center;
  color: dimgray;
  margin: 0.5rem;
}

.welcome-text {
  padding: 0.25rem 1rem;
  font-size: 1.2rem;
  margin-bottom: auto;
}

.action-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  border: 2px solid dimgray;
  border-radius: 0.25rem;
  padding: 1rem;
  max-width: 50vmin;
  max-height: 50vmin;
  text-transform: uppercase;
  font-size: 1.2rem;
}

.action-box img {
  max-width: 75%;
  max-height: 75%;
}

.action-box:any-link {
  color: dimgray;
  text-decoration: none;
}

/* Extrasmall screen */
@media(max-width:575px) {
  .action-box {
    max-width: 75vmin;
    max-height: 75vmin;
    margin: 0.5rem auto;
  }
}