* {
  box-sizing: border-box;
  font-family: 'Share Tech Mono', monospace;
  color: dimgray;
}

html,
body {
  min-height: 100%;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

footer {
  background-color: dimgray;
  text-align: center;
  padding: 0.25rem;
  margin-top: auto;
}

footer p {
  color: white;
  margin: 0;
  font-size: 0.9rem;
}

footer p a {
  color: white;
}

label {
  font-weight: 600;
}

button[type='submit'] {
  background-color: cornflowerblue;
  color: white;
}

input[type='datetime-local'] {
  max-width: 240px;
}

#flash {
  background-color: red;
  opacity: 0;
  position: fixed;
  top: calc(50% - 5px);
  right: calc(50% - 5px);
  bottom: calc(50% - 5px);
  left: calc(50% - 5px);
  border-radius: 50%;
  transition-duration: 0.5s;
  transition-property: top, right, bottom, left, opacity, border-radius, background-color;
}

#flash.active {
  opacity: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 0;
  background-color: white;
}

.filter-list {
  min-height: 2rem;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0.5rem;
}

.filter {  
  background-color: gray;
  border-radius: 4px;
  height: 30px;
  display: flex;
  flex-direction: row;
  margin-left: 0.5rem;
  margin-bottom: 0.25rem;
}

.filter.active {
  background-color: cornflowerblue;
}

.filter-text {
  color: white;
  padding: 0.25rem 0.4rem;
}

.filter.active .filter-text {
  color: white;
}

.filter.active .filter-text:not([href]):hover {
  color: white;
}

.filter-text:hover {
  color: white;
}

.filter-action {
  width: 30px;
  border-left: 1px solid transparent;
}

.filter-action:hover {  
  border-left: 1px solid white;
}

.filter-action img {
  padding: 0.4rem;
  max-height: 100%;
}

.filter.active .filter-action img {
  transform: rotate(45deg)
}

.was-validated .form-control:valid {
  border-color: #ced4da;
}

.was-validated .form-control:valid:focus {
  border-color: #ced4da;
  box-shadow: none;
}

.was-validated .form-check-input:valid~.form-check-label {
  color: inherit;
}

.table-area {
  overflow-x: auto;
}

.form-control {
  width: initial;
}

.navbar {
  background-color: lightgray;
  border-bottom: 2px solid gray;
  min-height: 60px;
  padding: 0.5rem;
}

.accent {
  color: cornflowerblue;
  font-weight: 600;
}

.page-header {
  text-align: center;
  color: dimgray;
  margin: 0.5rem;
  font-family: 'Share Tech Mono', monospace;
}

.page-text {
  padding: 0.25rem 1rem;
  font-size: 1.2rem;
  margin-bottom: 0.25rem;
}

.action-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  border: 2px solid dimgray;
  border-radius: 0.25rem;
  padding: 1rem;
  max-width: 50vmin;
  max-height: 50vmin;
  text-transform: uppercase;
  font-size: 1.2rem;
}

.action-box img {
  max-width: 75%;
  max-height: 75%;
}

.action-box:any-link {
  color: dimgray;
  text-decoration: none;
}

/* Extrasmall screen */
@media(max-width:575px) {
  .action-box {
    max-width: 75vmin;
    max-height: 75vmin;
    margin: 0.5rem auto;
  }
}